

<ion-content>
  <app-splash-content 
  [title]="'Coma Bem'"
  [description]="'Comece Um Estilo De Vida Saudável Conosco, Podemos Determinar Sua Dieta Todos Os Dias. Alimentação Saudável é Divertida!'"
  [imageSrc]="'../assets/images/image-splash-pages/splash_page_3_image.png'"
  [nextRoute]="nextRoute">
  </app-splash-content>
</ion-content>



<app-splash-content 
  title="Coma Bem"
  description="Comece um estilo de vida saudável conosco, podemos determinar sua dieta todos os dias. Alimentação saudável é divertida!"
  imageSrc="assets/images/image-splash-pages/splash_page_3_image.png"
  nextRoute="/splash-4"
  [progress]="0.75">
</app-splash-content>

