<ion-app>
  <!-- Conteúdo das páginas será carregado aqui -->
  <ion-router-outlet></ion-router-outlet>

  <!-- Barra de Navegação Inferior (só aparece quando o usuário estiver autenticado) -->
  <ion-footer *ngIf="isAuthenticated">
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home" (click)="goToHome()">
        <ion-icon color="primary" name="home-outline"></ion-icon>
        <ion-label color="primary">Home</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="refeição" (click)="goToRefeicao()">
        <ion-icon color="primary" name="nutrition-outline"></ion-icon>
        <ion-label color="primary">Refeição</ion-label>
      </ion-tab-button>
      <!-- Removido o botão "add" antigo -->
      <!-- O botão FAB será adicionado abaixo -->
      <ion-tab-button tab="nutriente-track" (click)="goToNutriente()">
        <ion-icon color="primary" name="restaurant-outline"></ion-icon>
        <ion-label color="primary">Nutrientes</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="exercicio" (click)="goToExercicio()">
        <ion-icon color="primary" name="barbell-outline"></ion-icon>
        <ion-label color="primary" >Treino</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-footer>

</ion-app>
