<!-- <ion-content class="register-page">
  <div class="register-container">
    <h2>Hey, aqui</h2>
    <h1>Crie Uma Conta</h1>

    <form (ngSubmit)="onRegister()" [formGroup]="registerForm" action="">
      <ion-item lines="none">
        <ion-icon slot="start" name="person-outline"></ion-icon>
        <ion-input formControlName="fullName" placeholder="Nome Completo" type="text"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-icon slot="start" name="call-outline"></ion-icon>
        <ion-input formControlName="phoneNumber" placeholder="Número de Celular" type="tel"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-icon slot="start" name="mail-outline"></ion-icon>
        <ion-input formControlName="email" placeholder="Email" type="email"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
        <ion-input formControlName="password" placeholder="Senha" [type]="showPassword ? 'text' : 'password'"></ion-input>
        <ion-icon slot="end" [name]="showPassword ? 'eye-off-outline' : 'eye-outline'" (click)="togglePasswordVisibility()"></ion-icon>
      </ion-item>

      <div class="terms-container">
        <ion-checkbox formControlName="acceptTerms" class="custom-checkbox"></ion-checkbox>
        <label class="terms-label">
            Ao continuar você aceita nossa <a href="#">Política de Privacidade</a> e <a href="#">Termos de Uso</a>
        </label>
      </div>
    
      

      <ion-button class="register-button" expand="block" type="submit" [disabled]="!registerForm.valid">
        Registre-se
      </ion-button>
    </form>

    <div class="divider">
      <hr class="line">
      <span>Ou</span>
      <hr class="line">
    </div>

    <div class="social-login">
      <ion-button fill="clear">
        <img src="assets/icon/google-icon.svg" alt="Google">
      </ion-button>
      <ion-button fill="clear">
        <img src="assets/icon/facebook-icon.svg" alt="Facebook">
      </ion-button>
    </div>

    <p class="login-link">
      Ja Possui Uma Conta? <a href="/login">Login</a>
    </p>
  </div>
</ion-content> -->


<ion-content class="register-page">
  <div class="register-container">
    <!-- passo 1 -->
    <ng-container *ngIf="currentStep === 1">
      <h2>Hey, aqui</h2>
      <h1>Crie Uma Conta</h1>

      <!-- Começo do Formulario -->
      <form (ngSubmit)="goToNextStep()" [formGroup]="registerFormStep1">
        <ion-item lines="none">
          <ion-icon slot="start" name="person-outline"></ion-icon>
          <ion-input label="Nome Completo" label-placement="floating" formControlName="fullName" type="text"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-icon slot="start" name="call-outline"></ion-icon>
          <ion-input label="Número de Celular" label-placement="floating" formControlName="phoneNumber" type="text"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-icon slot="start" name="mail-outline"></ion-icon>
          <ion-input label="E-mail" label-placement="floating" formControlName="email" type="email"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
          <ion-input label="Senha" label-placement="floating" formControlName="password" [type]="showPassword ? 'text' : 'password'"></ion-input>
          <ion-icon slot="end" [name]="showPassword ? 'eye-off-outline' : 'eye-outline'" (click)="togglePasswordVisibility()" ></ion-icon>
        </ion-item>

        <div class="terms-container">
          <ion-checkbox formControlName="acceptTerms" class="custom-checkbox"></ion-checkbox>
          <label class="terms-label">
              Ao continuar você aceita nossa <a href="#">Política de Privacidade</a> e <a href="#">Termos de Uso</a>
          </label>
        </div>

        <ion-button class="register-button" type="submit" [disabled]="!registerFormStep1.valid">
          Próximo
        </ion-button>
      </form>

      <div class="divider">
        <hr class="line">
        <span>Ou</span>
        <hr class="line">
      </div>
  
      <div class="social-login">
        <ion-button fill="clear">
          <img src="assets/icon/social-icons/logo-google.svg" alt="Google">
        </ion-button>
        <ion-button fill="clear">
          <img src="assets/icon/social-icons/logo-facebook.svg" alt="Facebook">
        </ion-button>
      </div>    
      
      <p class="login-link">
        Ja Possui Uma Conta? <a href="/login">Login</a>
      </p>

    </ng-container>

    <!-- Passo 2 -->
     <ng-container *ngIf="currentStep === 2">
      <h2>Vamos Completar o seu perfil</h2>
      <p>Nos ajude a saber mais sobre você!</p>

      <!-- começo formulario 2 -->
      <form (ngSubmit)="onRegister()" [formGroup]="registerFormStep2">
        <ion-item lines="none">
          <ion-icon slot="start" name="person-outline"></ion-icon>
          <ion-select label="Escolha seu Gênero" label-placement="floating" formControlName="gender">
            <ion-select-option value="male">Masculino</ion-select-option>
            <ion-select-option value="female">Feminino</ion-select-option>
            <ion-select-option value="other">Outro</ion-select-option>
            <ion-select-option value="ns">Prefiro não dizer</ion-select-option>
          </ion-select>
        </ion-item>

        <!-- Ícone e Texto para Selecionar a Data -->
        <ion-item lines="none" button (click)="openDatePicker()">
          <ion-icon slot="start" name="calendar-outline"></ion-icon>
          <ion-label>
            {{ selectedDate ? selectedDate : 'Selecionar Data' }}
          </ion-label>
        </ion-item>

        <!-- Modal para selecionar a data -->
        <ion-modal [isOpen]="isDatePickerOpen" (didDismiss)="closeDatePicker()">
          <ng-template>
            <ion-content>
              <ion-header>
                <ion-toolbar>
                  <ion-title>Selecione a Data</ion-title>
                  <ion-buttons slot="end">
                    <ion-button (click)="closeDatePicker()">Fechar</ion-button>
                  </ion-buttons>
                </ion-toolbar>
              </ion-header>
              <ion-datetime
                (ionChange)="onDateSelected($event)"
                [presentation]="'date'"
                [value]="selectedDate"
                placeholder="Data de Nascimento"
                display-format="DD/MM/YYYY"
              ></ion-datetime>
            </ion-content>
          </ng-template>
        </ion-modal>

        
        <ion-item lines="none">
          <ion-icon slot="start" name="barbell-outline"></ion-icon>
          <ion-input label="Seu Peso" label-placement="floating" formControlName="weight" type="number"></ion-input>
          <ion-label slot="end">KG</ion-label>
        </ion-item>
        
        <ion-item lines="none">
          <ion-icon slot="start" name="resize-outline"></ion-icon>
          <ion-input label="Sua Altura" label-placement="floating" formControlName="height" type="number"></ion-input>
          <ion-label slot="end">CM</ion-label>
        </ion-item>

        <ion-button class="register-button" type="submit" [disabled]="!registerFormStep2.valid">
          Registre-se
        </ion-button>
      </form>
     </ng-container>    
  </div>
</ion-content>
