
<ion-content>
  <app-splash-content 
    [title]="'Trace Seu Objetivo'"
    [description]="'Não se preocupe se você tiver problemas para determinar seus objetivos. Podemos ajudá-lo a definir e acompanhar seus objetivos.'"
    [imageSrc]="'assets/images/image-splash-pages/splash_page_1_image.png'"
    [nextRoute]="nextRoute">
  </app-splash-content>
</ion-content>

<app-splash-content 
  title="Trace Seu Objetivo"
  description="Não se preocupe se você tiver problemas para determinar seus objetivos, podemos ajudá-lo a determinar e acompanhar seus objetivos."
  imageSrc="assets/images/image-splash-pages/splash_page_1_image.png"
  nextRoute="/splash-2">
</app-splash-content>
