.splash-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  
  .splash-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  
    h1 {
      font-size: 1.8rem;
      font-weight: bold;
      color: var(--ion-color-dark);
      margin-bottom: 16px;
    }
  
    p {
      color: var(--ion-color-medium);
      font-size: 1rem;
      max-width: 300px;
    }
  
    .next-button {
      width: 60px; 
      height: 60px;
      border-radius: 50%; 
      padding: 0; 
      display: flex;
      justify-content: center;
      align-items: center; 
      --background: var(--ion-color-primary); 
      --color: #fff; 
      --padding-start: 0; 
      --padding-end: 0; 
      --border-radius: 50%; 
      font-size: 1rem;
    }
    
    

    ion-progress-bar {
      width: 100%;
      height: 10px;
      --progress-background: rgba(255, 255, 255, 0.5);
      --progress-color: #6200ee; 
    }
  
    .image-container img {
      width: 100%;
      max-width: 260px;
    }

  }
}