.home-page {
  --background: var(--ion-color-light);
  padding: 16px;



  /* Header e Avatar */
  ion-avatar {
    --size: 48px;
    border: 2px solid var(--ion-color-secondary);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  /* Progresso do Usuário */
  .progress-card {
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    .progress-info {
      display: flex;
      justify-content: space-between;
      text-align: center;

      ion-icon {
        font-size: 32px;
        color: var(--ion-color-tertiary-shade);
      }

      p {
        margin: 4px 0;
        color: var(--ion-color-medium);
      }

      h2 {
        font-size: 20px;
        font-weight: bold;
        color: var(--ion-color-primary);
      }
    }
  }

  /* Seletor de Dias */
  .day-selector {
    margin: 16px 0;
    ion-segment-button {
      border-radius: 20px;
      background-color: var(--ion-color-tertiary-tint);
      transition: background-color 0.3s;
    }
    ion-segment-button.selected {
      background-color: var(--ion-color-primary-shade);
      color: var(--ion-color-tertiary-tint);
    }
  }

  /* Resumo de Calorias */
  .calorias-card {

    ion-card-title{
      display: flex;
      justify-content: center;
      justify-items: center;
    }

    .calorias-info {
      display: flex;
      justify-content: space-between;
      text-align: center;
    }

    .calorias-item {
      p {
        margin: 4px 0;
        color: var(--ion-color-medium);
      }

      .value {
        font-size: 20px;
        font-weight: bold;
        color: var(--ion-color-primary);
      }
    }
  }


  .user-avatar {
    width: 1px;
    height: 1px;
    border-radius: 50%;
    overflow: hidden;
  }
  

  /* Destaques */
  ion-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
  
    ion-card {
      border-radius: 12px;
      transition: transform 0.2s, box-shadow 0.2s;
      width: 100%; /* Faz o card ocupar toda a largura do grid */
      height: 140px;
      max-width: 300px; /* Define um tamanho máximo para o card */
      display: flex;
      justify-content: center;
      align-items: center;
      justify-items: center;
      
      &:hover {
        transform: scale(1.05);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
      }
    }
  }
  
}
